#welcome-login {
    margin-top: 10%;
}

header {
    background-color: rgb(26, 28, 82);
    color: white;
    margin-top: 0% !important;
    height: 40px;
}

header nav {
    margin-bottom: 0% !important;
}
header a {
    color: white !important;
    padding-top: 10% !important;
    padding-bottom: 10%;
   
}

header a:active {
    color: blue !important;
}

#logout button, #shopping-cart button {
    background-color: rgb(26, 28, 82) !important;
    color: white !important;
    border: 0px;
}

menu {
    
    box-shadow: -3px -3px 10px rgb(26, 28, 82);
}

menu ul {
    margin-left: 0% !important;
}
menu ul li {
    border: 1px solid;
    border-color: rgb(26, 28, 82) !important;
}

menu a {
    color: rgb(26, 28, 82) !important;
}

#dashboard {
    margin-top: 3% !important;
}

#dashboard h1 {
    margin-top: 3%;
}

.admin-panel {
    margin-top: 5%;
    margin-bottom: 5%;
}

thead {
    background-color: rgb(26, 28, 82) !important;
}

main a {
    text-decoration: none;
    color: rgb(26, 28, 82);
}

main button {
 
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    background-color: rgb(26, 28, 82) !important;
}
